<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RayCastingCSHARP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RayCastingCSHARP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <RayCastingCSHARP.Properties.Settings>
            <setting name="BLOCKS_WIDTH" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BLOCKS_HEIGHT" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MINIMAP_TILE" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MINIMAP_WIDTH" serializeAs="String">
                <value>0</value>
            </setting>
        </RayCastingCSHARP.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <RayCastingCSHARP.Properties.Settings>
            <setting name="MINIMAP_HEIGHT" serializeAs="String">
                <value>0</value>
            </setting>
        </RayCastingCSHARP.Properties.Settings>
    </userSettings>
</configuration>